# LOCAL : fichier SQLite
# TURSO_DATABASE_URL=file:dev.db
#
# VERCEL : base Turso (libSQL)
# TURSO_DATABASE_URL=libsql://instance.turso.io
# TURSO_AUTH_TOKEN=token

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

SESSION_SECRET=

GMAIL_USER=
GMAIL_APP_PASSWORD=
APP_URL=
